USE [master]
GO
/****** Object:  Database [SWP391_Group2_LHH_2]    Script Date: 3/21/2023 11:38:02 PM ******/
CREATE DATABASE [SWP391_Group2_LHH_2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SWP391_Group2_LHH_2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SWP391_Group2_LHH_2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SWP391_Group2_LHH_2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SWP391_Group2_LHH_2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SWP391_Group2_LHH_2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SWP391_Group2_LHH_2]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/21/2023 11:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[username] [varchar](150) NOT NULL,
	[password] [varchar](150) NOT NULL,
	[classify_account] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnsImg]    Script Date: 3/21/2023 11:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnsImg](
	[ans_img_id] [int] IDENTITY(1,1) NOT NULL,
	[ans_img_name] [varchar](150) NULL,
	[ans_img_url] [varchar](max) NULL,
 CONSTRAINT [PK_AnsImg] PRIMARY KEY CLUSTERED 
(
	[ans_img_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Audio]    Script Date: 3/21/2023 11:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Audio](
	[audio_id] [int] IDENTITY(1,1) NOT NULL,
	[audio_name] [varchar](150) NOT NULL,
	[audio_url] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Audio] PRIMARY KEY CLUSTERED 
(
	[audio_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 3/21/2023 11:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[class_id] [int] IDENTITY(1,1) NOT NULL,
	[class_name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Class] PRIMARY KEY CLUSTERED 
(
	[class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 3/21/2023 11:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[comment_title] [varchar](150) NOT NULL,
	[username] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Content]    Script Date: 3/21/2023 11:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Content](
	[content_id] [int] IDENTITY(1,1) NOT NULL,
	[reading_content] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Reading] PRIMARY KEY CLUSTERED 
(
	[content_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 3/21/2023 11:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[course_id] [int] IDENTITY(1,1) NOT NULL,
	[course_name] [nvarchar](150) NOT NULL,
	[class_id] [int] NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feature]    Script Date: 3/21/2023 11:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feature](
	[fe_id] [int] IDENTITY(1,1) NOT NULL,
	[fe_name] [varchar](150) NOT NULL,
	[url] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Feature] PRIMARY KEY CLUSTERED 
(
	[fe_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Img]    Script Date: 3/21/2023 11:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Img](
	[img_id] [int] IDENTITY(1,1) NOT NULL,
	[img_name] [varchar](150) NULL,
	[img_url] [varchar](max) NULL,
 CONSTRAINT [PK_Img] PRIMARY KEY CLUSTERED 
(
	[img_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lession]    Script Date: 3/21/2023 11:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lession](
	[lession_id] [int] IDENTITY(1,1) NOT NULL,
	[lession_name] [nvarchar](150) NOT NULL,
	[module_id] [int] NOT NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_Lession] PRIMARY KEY CLUSTERED 
(
	[lession_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lession_Audio]    Script Date: 3/21/2023 11:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lession_Audio](
	[lession_id] [int] NOT NULL,
	[audio_id] [int] NOT NULL,
 CONSTRAINT [PK_Lession_Audio] PRIMARY KEY CLUSTERED 
(
	[lession_id] ASC,
	[audio_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lession_Content]    Script Date: 3/21/2023 11:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lession_Content](
	[lession_id] [int] NOT NULL,
	[content_id] [int] NOT NULL,
 CONSTRAINT [PK_Lession_Reading] PRIMARY KEY CLUSTERED 
(
	[lession_id] ASC,
	[content_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lession_Learn]    Script Date: 3/21/2023 11:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lession_Learn](
	[user_id] [int] NOT NULL,
	[lession_id] [int] NOT NULL,
	[llearn] [bit] NULL,
 CONSTRAINT [PK_Lession_Learn] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[lession_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lession_MatchGame]    Script Date: 3/21/2023 11:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lession_MatchGame](
	[lession_id] [int] NOT NULL,
	[match_game_id] [int] NOT NULL,
 CONSTRAINT [PK_Lession_MatchGame] PRIMARY KEY CLUSTERED 
(
	[lession_id] ASC,
	[match_game_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lession_Question]    Script Date: 3/21/2023 11:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lession_Question](
	[lession_id] [int] NOT NULL,
	[question_id] [int] NOT NULL,
 CONSTRAINT [PK_Lession_Quiz] PRIMARY KEY CLUSTERED 
(
	[lession_id] ASC,
	[question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lession_Video]    Script Date: 3/21/2023 11:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lession_Video](
	[lession_id] [int] NOT NULL,
	[video_id] [int] NOT NULL,
 CONSTRAINT [PK_Lession_Video] PRIMARY KEY CLUSTERED 
(
	[lession_id] ASC,
	[video_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MatchGame]    Script Date: 3/21/2023 11:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatchGame](
	[match_game_id] [int] IDENTITY(1,1) NOT NULL,
	[img_id] [int] NOT NULL,
	[ans_img_id] [int] NOT NULL,
	[points] [int] NOT NULL,
	[index] [int] NULL,
 CONSTRAINT [PK_MatchGame] PRIMARY KEY CLUSTERED 
(
	[match_game_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Module]    Script Date: 3/21/2023 11:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Module](
	[module_id] [int] IDENTITY(1,1) NOT NULL,
	[module_name] [nchar](150) NOT NULL,
	[course_id] [int] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_Module] PRIMARY KEY CLUSTERED 
(
	[module_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Module_Learn]    Script Date: 3/21/2023 11:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Module_Learn](
	[user_id] [int] NOT NULL,
	[module_id] [int] NOT NULL,
	[mlearn] [bit] NULL,
 CONSTRAINT [PK_Module_Learn] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[module_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 3/21/2023 11:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[question_id] [int] IDENTITY(1,1) NOT NULL,
	[question] [nvarchar](1500) NULL,
	[option1] [nvarchar](150) NULL,
	[option2] [nvarchar](150) NULL,
	[option3] [nvarchar](150) NULL,
	[option4] [nvarchar](150) NULL,
	[true_answer] [nvarchar](150) NULL,
	[points] [int] NOT NULL,
	[index] [int] NULL,
 CONSTRAINT [PK_Quiz] PRIMARY KEY CLUSTERED 
(
	[question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ranking]    Script Date: 3/21/2023 11:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ranking](
	[ranking_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[full_name] [nvarchar](150) NOT NULL,
	[points] [int] NOT NULL,
 CONSTRAINT [PK_Ranking] PRIMARY KEY CLUSTERED 
(
	[ranking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/21/2023 11:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role_Account]    Script Date: 3/21/2023 11:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role_Account](
	[role_id] [int] NOT NULL,
	[username] [varchar](150) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role_Feature]    Script Date: 3/21/2023 11:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role_Feature](
	[role_id] [int] NOT NULL,
	[fe_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/21/2023 11:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](150) NOT NULL,
	[dob] [date] NOT NULL,
	[gender] [bit] NOT NULL,
	[parent_name] [nvarchar](150) NOT NULL,
	[parent_email] [varchar](150) NOT NULL,
	[parent_phone_number] [varchar](150) NOT NULL,
	[username] [varchar](150) NOT NULL,
	[points] [float] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Class]    Script Date: 3/21/2023 11:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Class](
	[user_id] [int] NOT NULL,
	[class_id] [int] NOT NULL,
 CONSTRAINT [PK_User_Class] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Video]    Script Date: 3/21/2023 11:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Video](
	[video_id] [int] IDENTITY(1,1) NOT NULL,
	[url] [nvarchar](150) NOT NULL,
	[video_title] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Video] PRIMARY KEY CLUSTERED 
(
	[video_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([username], [password], [classify_account]) VALUES (N'admin', N'be8171d6d1387829f83253cd8b387a30', N'admin')
INSERT [dbo].[Account] ([username], [password], [classify_account]) VALUES (N'Hoanglh', N'be8171d6d1387829f83253cd8b387a30', N'premium')
INSERT [dbo].[Account] ([username], [password], [classify_account]) VALUES (N'Khangnl', N'be8171d6d1387829f83253cd8b387a30', N'premium')
GO
SET IDENTITY_INSERT [dbo].[AnsImg] ON 

SET IDENTITY_INSERT [dbo].[AnsImg] OFF
GO
SET IDENTITY_INSERT [dbo].[Class] ON 

INSERT [dbo].[Class] ([class_id], [class_name]) VALUES (1, N'Lớp 1')
INSERT [dbo].[Class] ([class_id], [class_name]) VALUES (2, N'Lớp 2')
INSERT [dbo].[Class] ([class_id], [class_name]) VALUES (3, N'Lớp 3')
SET IDENTITY_INSERT [dbo].[Class] OFF
GO
SET IDENTITY_INSERT [dbo].[Content] ON 

INSERT [dbo].[Content] ([content_id], [reading_content]) VALUES (1, N'Làm việc thật là vui

Quanh ta, mọi người đều làm việc.

Cái đồng hồ tích tắc báo phút, báo giờ.

Con gà trống gáy vang ò … ó … o, báo cho mọi người biết trời sắp sáng, mau mau thức dậy.

Con tu hú kêu tu hú, tu hú. Thế là sắp đến mùa vải chín.

Chim bắt sâu, bảo vệ mùa màng.

Cành đào nở hoa cho sắc xuân thêm rực rỡ, ngày xuân thêm tưng bừng.

Như mọi vật, mọi người, bé cũng làm việc. Bé làm bài, bé đi học, bé quét nhà, nhặt rau, chơi với em đỡ mẹ. Bé luôn luôn bận rộn, mà lúc nào cũng vui.')
INSERT [dbo].[Content] ([content_id], [reading_content]) VALUES (2, N'Ngày hôm qua đâu rồi ?

Em cầm tờ lịch cũ :

- Ngày hôm qua đâu rồi   ?

Ra ngoài sân hỏi bố

Xoa đầu em, bố cười .


- Ngày hôm qua ở lại

Trên cành hoa trong vườn

Nụ hồng lớn lên mãi

Đợi đến ngày tỏa hương.

- Ngày hôm qua ở lại

Trong hạt lúa mẹ trồng

Cánh đồng chờ gặt hái

Chín vàng màu ước mong.


- Ngày hôm qua ở lại

Trong vở hồng của con

Con học hành chăm chỉ

Là ngày qua vẫn còn.

BẾ KIẾN QUỐC')
INSERT [dbo].[Content] ([content_id], [reading_content]) VALUES (3, N'Bài thơ Chơi bán hàng
Bé Hương và bé Thảo
Rủ nhau chơi bán hàng
Hương có củ khoai lang
Nào Thảo mua đi nhé

Thảo cười như nắc nẻ
Nhặt một chiếc lá rơi
Tớ trả đủ tiền rồi
Được mang về nhà chứ?

Rồi Thảo bẻ hai nửa
Mời người bán ăn chung
Vị bùi khoai đất bãi
Thơm ngọt ngào chiều đông.

Tác giả: Nguyễn Văn Thắng.')
INSERT [dbo].[Content] ([content_id], [reading_content]) VALUES (4, N'BÀI THƠ CÁI TRỐNG TRƯỜNG EM
Cái trống trường em
Mùa hè cũng nghỉ
Suốt ba tháng liền
Trống nằm ngẫm nghĩ

Buồn không hả trống
Trong những ngày hè
Bọn mình đi vắng
Chỉ còn tiếng ve?

Cái trống lặng im
Nghiêng đầu trên giá
Chắc thấy chúng em
Nó mừng vui quá!

Kìa trống đang gọi
Tùng! Tùng! Tùng! Tùng...
Vào năm học mới
Rộn vang tưng bừng.

Nguồn: Sách giáo khoa Tiếng Việt lớp 2, tập 1, NXB Giáo dục, 2002')
INSERT [dbo].[Content] ([content_id], [reading_content]) VALUES (5, N'Bài thơ Sân trường em
Trong lớp, chiếc bảng đen
Đang mơ về phấn trắng
Chỉ có tiếng lá cây
Thì thầm cùng bóng nắng.

Nhưng chỉ sớm mai thôi
Ngày tựu trường sẽ đến
Sân trường lại ngập tràn
Những niềm vui xao xuyến.

Gặp thầy cô quý mến
Gặp bạn bè thân yêu
Có bao nhiêu, bao nhiêu
Là những điều muốn nói.

Tiếng trống trường mời gọi
Thầy cô đang mong chờ
Chúng em vào lớp mới
Sân trường thành trang thơ…

Tác giả: Bùi Hoàng Tám.')
INSERT [dbo].[Content] ([content_id], [reading_content]) VALUES (6, N'Bài thơ Cô giáo lớp em
Sáng nào em đến lớp
Cũng thấy cô đến rồi
Đáp lời “Chào cô ạ!”
Cô mỉm cười thật tươi

Cô dạy em tập viết
Gió đưa thoảng hương nhài
Nắng ghé vào cửa lớp
Xem chúng em học bài

Những lời cô giáo giảng
Ấm trang vở thơm tho
Yêu thương em ngắm mãi
Những điểm mười cô cho.

Tác giả: Nguyễn Xuân Sanh')
INSERT [dbo].[Content] ([content_id], [reading_content]) VALUES (8, N'sdfghfgdfsdfghgfdsfdgfđfgfđgjfffgh')
SET IDENTITY_INSERT [dbo].[Content] OFF
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([course_id], [course_name], [class_id]) VALUES (1, N'Toán', 1)
INSERT [dbo].[Course] ([course_id], [course_name], [class_id]) VALUES (2, N'Tiếng Việt', 1)
INSERT [dbo].[Course] ([course_id], [course_name], [class_id]) VALUES (3, N'Tiếng Anh', 1)
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
SET IDENTITY_INSERT [dbo].[Feature] ON 

INSERT [dbo].[Feature] ([fe_id], [fe_name], [url]) VALUES (1, N'home ', N'/home/homePage')
INSERT [dbo].[Feature] ([fe_id], [fe_name], [url]) VALUES (2, N'login', N'/login/loginUser')
INSERT [dbo].[Feature] ([fe_id], [fe_name], [url]) VALUES (3, N'video', N'/course/videoLesson')
SET IDENTITY_INSERT [dbo].[Feature] OFF
GO
SET IDENTITY_INSERT [dbo].[Img] ON 

INSERT [dbo].[Img] ([img_id], [img_name], [img_url]) VALUES (1, N'icecream', N'https://shapedfonts.com/wp-content/uploads/2019/06/newthumbs-10.png')
SET IDENTITY_INSERT [dbo].[Img] OFF
GO
SET IDENTITY_INSERT [dbo].[Lession] ON 

INSERT [dbo].[Lession] ([lession_id], [lession_name], [module_id], [status]) VALUES (1, N'Bài học 1: Học đếm các số từ 0 đến 9', 1, 0)
INSERT [dbo].[Lession] ([lession_id], [lession_name], [module_id], [status]) VALUES (2, N'Bài học 2: Cách viết các sô từ 1 đến 9
', 1, 1)
INSERT [dbo].[Lession] ([lession_id], [lession_name], [module_id], [status]) VALUES (4, N'Bài học 3: So sánh các số có 1 chữ số
', 1, 1)
INSERT [dbo].[Lession] ([lession_id], [lession_name], [module_id], [status]) VALUES (5, N' Bài học 1: Học ghép các số thành số có 2 chữ số', 2, 1)
INSERT [dbo].[Lession] ([lession_id], [lession_name], [module_id], [status]) VALUES (6, N'Bài 2: Học ghép các số thành số có 2 chữ số(tiếp)', 2, 1)
INSERT [dbo].[Lession] ([lession_id], [lession_name], [module_id], [status]) VALUES (14, N'Bài học 4: Phát  m N - P
', 3, 1)
INSERT [dbo].[Lession] ([lession_id], [lession_name], [module_id], [status]) VALUES (21, N'Bài học 4: Học đánh vần nguyên âm  nguyên âm O Ơ Ô với các phụ âm
', 4, 1)
INSERT [dbo].[Lession] ([lession_id], [lession_name], [module_id], [status]) VALUES (22, N'Bài học 5: Học đánh vần nguyên âm  nguyên âm U Ư với các phụ âm
', 4, 1)
INSERT [dbo].[Lession] ([lession_id], [lession_name], [module_id], [status]) VALUES (24, N'Bài học 1: Phát âm Từ A - E
', 5, 0)
INSERT [dbo].[Lession] ([lession_id], [lession_name], [module_id], [status]) VALUES (27, N'Bài học 4: Phát âm từ R - V
', 5, 0)
INSERT [dbo].[Lession] ([lession_id], [lession_name], [module_id], [status]) VALUES (47, N'Lession 2: Language Use
', 11, 0)
INSERT [dbo].[Lession] ([lession_id], [lession_name], [module_id], [status]) VALUES (51, N'Lession 3: Content concept
', 12, 0)
INSERT [dbo].[Lession] ([lession_id], [lession_name], [module_id], [status]) VALUES (54, N'Bài học 3: Tìm thành phần chưa biết trong phép tính(Tìm x)
', 13, 0)
INSERT [dbo].[Lession] ([lession_id], [lession_name], [module_id], [status]) VALUES (58, N'Bài học 3:Dạng toán tìm một trong các phần bằng nhau của 1 số
', 14, 0)
INSERT [dbo].[Lession] ([lession_id], [lession_name], [module_id], [status]) VALUES (59, N'Bài học 1: Từ chỉ sự vật
', 15, 0)
INSERT [dbo].[Lession] ([lession_id], [lession_name], [module_id], [status]) VALUES (64, N'Bài học 3: Dấu hỏi chấm
', 16, 0)
INSERT [dbo].[Lession] ([lession_id], [lession_name], [module_id], [status]) VALUES (66, N'Bài học 2:  Exercise 1
', 17, 0)
INSERT [dbo].[Lession] ([lession_id], [lession_name], [module_id], [status]) VALUES (67, N'Bài học 3: Exercise 2
', 17, 0)
INSERT [dbo].[Lession] ([lession_id], [lession_name], [module_id], [status]) VALUES (69, N'Bài học 2: Exercise 1
', 18, 0)
INSERT [dbo].[Lession] ([lession_id], [lession_name], [module_id], [status]) VALUES (70, N'Bài học 3: Exercise 2
', 18, 0)
INSERT [dbo].[Lession] ([lession_id], [lession_name], [module_id], [status]) VALUES (73, N'Bài học 3: Tìm thành phần chưa biết trong phép tính(Tìm x)
', 19, 0)
INSERT [dbo].[Lession] ([lession_id], [lession_name], [module_id], [status]) VALUES (74, N'Bài học 1:  Phép nhân các số có 2 chữ số
', 20, 0)
INSERT [dbo].[Lession] ([lession_id], [lession_name], [module_id], [status]) VALUES (85, N'Bài học 3:  Luyện tập phân biệt từ láy, từ ghép
', 23, 0)
INSERT [dbo].[Lession] ([lession_id], [lession_name], [module_id], [status]) VALUES (88, N'Bài học 3:  Luyện tập chào hỏi
', 24, 0)
INSERT [dbo].[Lession] ([lession_id], [lession_name], [module_id], [status]) VALUES (94, N'Bài học 3: Phép cộng và phép trừ của hai phân số
', 26, 0)
INSERT [dbo].[Lession] ([lession_id], [lession_name], [module_id], [status]) VALUES (97, N'Bài học 3: So sánh 2 số thập phân
', 27, 0)
INSERT [dbo].[Lession] ([lession_id], [lession_name], [module_id], [status]) VALUES (99, N'Bài học 2: What does Max like doing?
', 28, 0)
INSERT [dbo].[Lession] ([lession_id], [lession_name], [module_id], [status]) VALUES (103, N'Bài học 3: Grammar and Song
', 29, 0)
GO
SET IDENTITY_INSERT [dbo].[Lession] OFF
GO
INSERT [dbo].[Lession_Content] ([lession_id], [content_id]) VALUES (39, 1)
INSERT [dbo].[Lession_Content] ([lession_id], [content_id]) VALUES (40, 2)
INSERT [dbo].[Lession_Content] ([lession_id], [content_id]) VALUES (41, 3)
GO
INSERT [dbo].[Lession_Learn] ([user_id], [lession_id], [llearn]) VALUES (10, 1, 1)
INSERT [dbo].[Lession_Learn] ([user_id], [lession_id], [llearn]) VALUES (10, 2, 1)
INSERT [dbo].[Lession_Learn] ([user_id], [lession_id], [llearn]) VALUES (10, 4, 0)
GO
INSERT [dbo].[Lession_MatchGame] ([lession_id], [match_game_id]) VALUES (49, 1)
INSERT [dbo].[Lession_MatchGame] ([lession_id], [match_game_id]) VALUES (49, 3)
INSERT [dbo].[Lession_MatchGame] ([lession_id], [match_game_id]) VALUES (49, 4)
GO
INSERT [dbo].[Lession_Question] ([lession_id], [question_id]) VALUES (1, 94)
INSERT [dbo].[Lession_Question] ([lession_id], [question_id]) VALUES (1, 95)
INSERT [dbo].[Lession_Question] ([lession_id], [question_id]) VALUES (2, 100)
GO
INSERT [dbo].[Lession_Video] ([lession_id], [video_id]) VALUES (1, 1)
INSERT [dbo].[Lession_Video] ([lession_id], [video_id]) VALUES (2, 2)
INSERT [dbo].[Lession_Video] ([lession_id], [video_id]) VALUES (4, 3)
GO
SET IDENTITY_INSERT [dbo].[MatchGame] ON 

INSERT [dbo].[MatchGame] ([match_game_id], [img_id], [ans_img_id], [points], [index]) VALUES (1, 1, 1, 50, 1)
INSERT [dbo].[MatchGame] ([match_game_id], [img_id], [ans_img_id], [points], [index]) VALUES (3, 2, 2, 50, 2)
INSERT [dbo].[MatchGame] ([match_game_id], [img_id], [ans_img_id], [points], [index]) VALUES (4, 3, 3, 50, 3)
SET IDENTITY_INSERT [dbo].[MatchGame] OFF
GO
SET IDENTITY_INSERT [dbo].[Module] ON 

INSERT [dbo].[Module] ([module_id], [module_name], [course_id], [status]) VALUES (1, N'Chương 1:  Học đếm, viết và so sánh các số có 1 chữ số
                                                                                    ', 1, 0)
INSERT [dbo].[Module] ([module_id], [module_name], [course_id], [status]) VALUES (2, N'Chương 2:   Học đếm, viết và so sánh các số có 2 chữ số                                                                                     ', 1, 0)
INSERT [dbo].[Module] ([module_id], [module_name], [course_id], [status]) VALUES (3, N'Chương 1:  Phát âm bảng chữ cái                                                                                                                   ', 2, 0)
INSERT [dbo].[Module] ([module_id], [module_name], [course_id], [status]) VALUES (4, N'Chương 2:  Học đánh vần                                                                                                                            ', 2, 0)
INSERT [dbo].[Module] ([module_id], [module_name], [course_id], [status]) VALUES (14, N'Chương 2:  Giải toán có lời văn
                                                                                                                     ', 7, 0)
INSERT [dbo].[Module] ([module_id], [module_name], [course_id], [status]) VALUES (16, N'Chương 2:  Các loại dấu câu
                                                                                                                         ', 8, 0)
INSERT [dbo].[Module] ([module_id], [module_name], [course_id], [status]) VALUES (20, N'Chương 2:  Phép nhân, chia các số có 2 chữ số
                                                                                                       ', 10, 0)
INSERT [dbo].[Module] ([module_id], [module_name], [course_id], [status]) VALUES (24, N'Chương 1:  Nice to see you
                                                                                                                          ', 12, 0)
INSERT [dbo].[Module] ([module_id], [module_name], [course_id], [status]) VALUES (25, N'Chương 2:  I’m from Vietnam
                                                                                                                         ', 12, 0)
INSERT [dbo].[Module] ([module_id], [module_name], [course_id], [status]) VALUES (28, N'Chương 1:  Family and Friends 5
                                                                                                                     ', 15, 0)
INSERT [dbo].[Module] ([module_id], [module_name], [course_id], [status]) VALUES (29, N'Chương 2:  The Ancient Mayans
                                                                                                                       ', 15, 0)
SET IDENTITY_INSERT [dbo].[Module] OFF
GO
SET IDENTITY_INSERT [dbo].[Question] ON 

INSERT [dbo].[Question] ([question_id], [question], [option1], [option2], [option3], [option4], [true_answer], [points], [index]) VALUES (1, N'Trong ca´c sô´ 31, 55, 66, 24, 16: sô´ na`o la` sô´ be´ nhâ´t:', N'31', N'66', N'16', N'24', N'31', 1, 1)
INSERT [dbo].[Question] ([question_id], [question], [option1], [option2], [option3], [option4], [true_answer], [points], [index]) VALUES (2, N'Trong các số dưới đây. Số nào là số có một chữ số, số nào là số có hai chữ số: 32, 46, 6, 54, 3, 9, 10, 99, 100, 37', N'Số có một chữ số là: 32, 46 ,6 , 9', N'Số có hai chữ số là: 99,46 ,100 , 9', N'Số có một chữ số là: 6 ,9 ,3', N'Số có hai chữ số là: 37', N'Số có một chữ số là: 6 ,9 ,3', 1, 2)
INSERT [dbo].[Question] ([question_id], [question], [option1], [option2], [option3], [option4], [true_answer], [points], [index]) VALUES (3, N'Số ''Hai trăm ba mươi mốt'' được viết là:', N'231', N'213', N'321', N'232', N'231', 1, 3)
INSERT [dbo].[Question] ([question_id], [question], [option1], [option2], [option3], [option4], [true_answer], [points], [index]) VALUES (32, N'Điền dấu >,  < hoặc = để so sánh kết quả: 39 + 61 .................. 65 + 35
?', N'A. >', N'B. <', N'C. =', N'D. Tất cả đều đúng', N'C. =', 2, 2)
INSERT [dbo].[Question] ([question_id], [question], [option1], [option2], [option3], [option4], [true_answer], [points], [index]) VALUES (33, N'Số 100 = ? chục.', N'A. 1 chục
', N'B. 10 chục', N'C. 5 chục', N'D. 3 chục', N'B. 10 chục', 2, 3)
INSERT [dbo].[Question] ([question_id], [question], [option1], [option2], [option3], [option4], [true_answer], [points], [index]) VALUES (34, N'Một cửa hàng buổi sáng bán được 75kg đường,  buổi chiều bán được nhiều hơn buổi sáng 25kg đường. Hỏi buổi chiều cửa hàng bán được bao nhiêu ki-lô-gam đường?', N'A. 85kg', N'B. 95kg', N'D. 100kg
', N'D. 75kg', N'B. 95kg', 2, 4)
INSERT [dbo].[Question] ([question_id], [question], [option1], [option2], [option3], [option4], [true_answer], [points], [index]) VALUES (37, N'Chọn đáp án đúng:
20 - 15 = ?
', N'A. 10', N'B. 5', N'C. 15', N'D.  20', N'B. 5', 2, 1)
INSERT [dbo].[Question] ([question_id], [question], [option1], [option2], [option3], [option4], [true_answer], [points], [index]) VALUES (38, N'Điền vào chỗ trống:
36 - . . .  = 9?
', N'A. 25', N'B. 9', N'C. 36', N'D. 45', N'A. 25', 2, 2)
INSERT [dbo].[Question] ([question_id], [question], [option1], [option2], [option3], [option4], [true_answer], [points], [index]) VALUES (39, N'Tổng số tuổi của 2 bố con hiện nay là 40 tuổi.  Năm nay con 7 tuổi.  Đố các bạn biết hiện nay bố bao nhiêu tuổi?', N'A,  100', N'B,  99', N'C,  33', N'D,  Tất cả đều sai
', N'C,  33', 2, 3)
INSERT [dbo].[Question] ([question_id], [question], [option1], [option2], [option3], [option4], [true_answer], [points], [index]) VALUES (42, N'Số đo ''mười bốn ki-lô-gam'' được viết là:', N'A.  14', N'B.  15 kg', N'C.  14 kg', N'D.  15
kg', N'C.  14 kg', 2, 1)
INSERT [dbo].[Question] ([question_id], [question], [option1], [option2], [option3], [option4], [true_answer], [points], [index]) VALUES (46, N'Giá trị của biểu thức 17kg + 24kg – 8kg là:
', N'A.  35 kg', N'B.  36 kg
', N'C.  33 kg', N'D.  34 kg', N'C.  33 kg', 2, 5)
INSERT [dbo].[Question] ([question_id], [question], [option1], [option2], [option3], [option4], [true_answer], [points], [index]) VALUES (56, N'Tính 4500 + 14 = ?
', N'A,  5912', N'B, 4514 ', N'C, 2234', N'D, 3723', N'B, 4514', 2, 4)
INSERT [dbo].[Question] ([question_id], [question], [option1], [option2], [option3], [option4], [true_answer], [points], [index]) VALUES (71, N'Hoàng nặng 45kg,  Khang nặng gấp đôi Hoàng.  Hỏi Khang nặng bao nhiêu kg?
', N'A,  10', N'B, 32', N'C, 90', N'D, 45', N'C, 90', 2, NULL)
INSERT [dbo].[Question] ([question_id], [question], [option1], [option2], [option3], [option4], [true_answer], [points], [index]) VALUES (77, N' Anh có 15 cái kẹo,  anh cho em ⅓ số kẹo đó.  Hỏi em có bao nhiêu cái kẹo?
', N'A,  10', N'B, 32', N'C, 5', N'D, 45', N'C, 5', 2, NULL)
INSERT [dbo].[Question] ([question_id], [question], [option1], [option2], [option3], [option4], [true_answer], [points], [index]) VALUES (78, N'Anh có 14 cái kẹo,  anh cho em 1/2 số kẹo đó.  Hỏi em có bao nhiêu cái kẹo?
', N'A,  42', N'B, 77', N'C, 233', N'D, 128', N'B, 77', 2, NULL)
INSERT [dbo].[Question] ([question_id], [question], [option1], [option2], [option3], [option4], [true_answer], [points], [index]) VALUES (82, N'Nhà Khang nuôi 8 con mèo,  số chó nhà Khang nuôi bằng 1/4 số mèo.  Hỏi nhà Khang nuôi bao nhiêu con chó?', N'A,  65', N'B, 48', N'C, 2', N'D, 25
', N'C, 2', 2, NULL)
SET IDENTITY_INSERT [dbo].[Question] OFF
GO
SET IDENTITY_INSERT [dbo].[Ranking] ON 

INSERT [dbo].[Ranking] ([ranking_id], [user_id], [full_name], [points]) VALUES (7, 10, N'Nguyễn Lương Khang', 20)
INSERT [dbo].[Ranking] ([ranking_id], [user_id], [full_name], [points]) VALUES (8, 15, N'Lý Hải Hoàng', 50)
INSERT [dbo].[Ranking] ([ranking_id], [user_id], [full_name], [points]) VALUES (10, 16, N'Phan Mạnh Thắng', 0)
SET IDENTITY_INSERT [dbo].[Ranking] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (1, N'premium')
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (2, N'normal')
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (3, N'admin')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
INSERT [dbo].[Role_Account] ([role_id], [username]) VALUES (1, N'Khangnl')
INSERT [dbo].[Role_Account] ([role_id], [username]) VALUES (3, N'admin')
INSERT [dbo].[Role_Account] ([role_id], [username]) VALUES (1, N'Hoanglh')
GO
INSERT [dbo].[Role_Feature] ([role_id], [fe_id]) VALUES (3, 1)
INSERT [dbo].[Role_Feature] ([role_id], [fe_id]) VALUES (3, 2)
INSERT [dbo].[Role_Feature] ([role_id], [fe_id]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([user_id], [full_name], [dob], [gender], [parent_name], [parent_email], [parent_phone_number], [username], [points]) VALUES (10, N'Nguyễn Lương Khang', CAST(N'2023-03-16' AS Date), 1, N'Nguyễn A', N'khangnlhe161660@fpt.edu.vn', N'0373208029', N'Khangnl', NULL)
INSERT [dbo].[User] ([user_id], [full_name], [dob], [gender], [parent_name], [parent_email], [parent_phone_number], [username], [points]) VALUES (14, N'Online Learn', CAST(N'2023-01-04' AS Date), 1, N'null', N'null', N'null', N'admin', NULL)
INSERT [dbo].[User] ([user_id], [full_name], [dob], [gender], [parent_name], [parent_email], [parent_phone_number], [username], [points]) VALUES (15, N'Lý Hải Hoàng', CAST(N'2002-06-14' AS Date), 1, N'Lý Thu Thủy', N'hoangxk71@sgmail.com', N'0982296977', N'Hoanglh', NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[Video] ON 

INSERT [dbo].[Video] ([video_id], [url], [video_title]) VALUES (1, N'K6HoLHw9JoY', N'Học đếm các số từ 0 -  9')
INSERT [dbo].[Video] ([video_id], [url], [video_title]) VALUES (2, N'RPWf7BPQg4s', N'Video bài dãy các viết các số 0 - 9')
INSERT [dbo].[Video] ([video_id], [url], [video_title]) VALUES (3, N'LNQffeDRxlM', N'So sánh các số có 1 chữ số')
SET IDENTITY_INSERT [dbo].[Video] OFF
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Account] FOREIGN KEY([username])
REFERENCES [dbo].[Account] ([username])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Account]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Class] FOREIGN KEY([class_id])
REFERENCES [dbo].[Class] ([class_id])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Class]
GO
ALTER TABLE [dbo].[Lession]  WITH CHECK ADD  CONSTRAINT [FK_Lession_Module] FOREIGN KEY([module_id])
REFERENCES [dbo].[Module] ([module_id])
GO
ALTER TABLE [dbo].[Lession] CHECK CONSTRAINT [FK_Lession_Module]
GO
ALTER TABLE [dbo].[Lession_Audio]  WITH CHECK ADD  CONSTRAINT [FK_Lession_Audio_Audio] FOREIGN KEY([audio_id])
REFERENCES [dbo].[Audio] ([audio_id])
GO
ALTER TABLE [dbo].[Lession_Audio] CHECK CONSTRAINT [FK_Lession_Audio_Audio]
GO
ALTER TABLE [dbo].[Lession_Audio]  WITH CHECK ADD  CONSTRAINT [FK_Lession_Audio_Lession] FOREIGN KEY([lession_id])
REFERENCES [dbo].[Lession] ([lession_id])
GO
ALTER TABLE [dbo].[Lession_Audio] CHECK CONSTRAINT [FK_Lession_Audio_Lession]
GO
ALTER TABLE [dbo].[Lession_Content]  WITH CHECK ADD  CONSTRAINT [FK_Lession_Reading_Lession] FOREIGN KEY([lession_id])
REFERENCES [dbo].[Lession] ([lession_id])
GO
ALTER TABLE [dbo].[Lession_Content] CHECK CONSTRAINT [FK_Lession_Reading_Lession]
GO
ALTER TABLE [dbo].[Lession_Content]  WITH CHECK ADD  CONSTRAINT [FK_Lession_Reading_Reading] FOREIGN KEY([content_id])
REFERENCES [dbo].[Content] ([content_id])
GO
ALTER TABLE [dbo].[Lession_Content] CHECK CONSTRAINT [FK_Lession_Reading_Reading]
GO
ALTER TABLE [dbo].[Lession_Learn]  WITH CHECK ADD  CONSTRAINT [FK_Lession_Learn_Lession] FOREIGN KEY([lession_id])
REFERENCES [dbo].[Lession] ([lession_id])
GO
ALTER TABLE [dbo].[Lession_Learn] CHECK CONSTRAINT [FK_Lession_Learn_Lession]
GO
ALTER TABLE [dbo].[Lession_Learn]  WITH CHECK ADD  CONSTRAINT [FK_Lession_Learn_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Lession_Learn] CHECK CONSTRAINT [FK_Lession_Learn_User]
GO
ALTER TABLE [dbo].[Lession_MatchGame]  WITH CHECK ADD  CONSTRAINT [FK_Lession_MatchGame_Lession] FOREIGN KEY([lession_id])
REFERENCES [dbo].[Lession] ([lession_id])
GO
ALTER TABLE [dbo].[Lession_MatchGame] CHECK CONSTRAINT [FK_Lession_MatchGame_Lession]
GO
ALTER TABLE [dbo].[Lession_MatchGame]  WITH CHECK ADD  CONSTRAINT [FK_Lession_MatchGame_MatchGame] FOREIGN KEY([match_game_id])
REFERENCES [dbo].[MatchGame] ([match_game_id])
GO
ALTER TABLE [dbo].[Lession_MatchGame] CHECK CONSTRAINT [FK_Lession_MatchGame_MatchGame]
GO
ALTER TABLE [dbo].[Lession_Question]  WITH CHECK ADD  CONSTRAINT [FK_Lession_Question_Question] FOREIGN KEY([question_id])
REFERENCES [dbo].[Question] ([question_id])
GO
ALTER TABLE [dbo].[Lession_Question] CHECK CONSTRAINT [FK_Lession_Question_Question]
GO
ALTER TABLE [dbo].[Lession_Question]  WITH CHECK ADD  CONSTRAINT [FK_Lession_Quiz_Lession] FOREIGN KEY([lession_id])
REFERENCES [dbo].[Lession] ([lession_id])
GO
ALTER TABLE [dbo].[Lession_Question] CHECK CONSTRAINT [FK_Lession_Quiz_Lession]
GO
ALTER TABLE [dbo].[Lession_Video]  WITH CHECK ADD  CONSTRAINT [FK_Lession_Video_Lession] FOREIGN KEY([lession_id])
REFERENCES [dbo].[Lession] ([lession_id])
GO
ALTER TABLE [dbo].[Lession_Video] CHECK CONSTRAINT [FK_Lession_Video_Lession]
GO
ALTER TABLE [dbo].[Lession_Video]  WITH CHECK ADD  CONSTRAINT [FK_Lession_Video_Video] FOREIGN KEY([video_id])
REFERENCES [dbo].[Video] ([video_id])
GO
ALTER TABLE [dbo].[Lession_Video] CHECK CONSTRAINT [FK_Lession_Video_Video]
GO
ALTER TABLE [dbo].[MatchGame]  WITH CHECK ADD  CONSTRAINT [FK_MatchGame_AnsImg] FOREIGN KEY([ans_img_id])
REFERENCES [dbo].[AnsImg] ([ans_img_id])
GO
ALTER TABLE [dbo].[MatchGame] CHECK CONSTRAINT [FK_MatchGame_AnsImg]
GO
ALTER TABLE [dbo].[MatchGame]  WITH CHECK ADD  CONSTRAINT [FK_MatchGame_Img] FOREIGN KEY([img_id])
REFERENCES [dbo].[Img] ([img_id])
GO
ALTER TABLE [dbo].[MatchGame] CHECK CONSTRAINT [FK_MatchGame_Img]
GO
ALTER TABLE [dbo].[Module]  WITH CHECK ADD  CONSTRAINT [FK_Module_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[Module] CHECK CONSTRAINT [FK_Module_Course]
GO
ALTER TABLE [dbo].[Module_Learn]  WITH CHECK ADD  CONSTRAINT [FK_Module_Learn_Module] FOREIGN KEY([module_id])
REFERENCES [dbo].[Module] ([module_id])
GO
ALTER TABLE [dbo].[Module_Learn] CHECK CONSTRAINT [FK_Module_Learn_Module]
GO
ALTER TABLE [dbo].[Module_Learn]  WITH CHECK ADD  CONSTRAINT [FK_Module_Learn_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Module_Learn] CHECK CONSTRAINT [FK_Module_Learn_User]
GO
ALTER TABLE [dbo].[Role_Account]  WITH CHECK ADD  CONSTRAINT [FK_Role_Account_Account] FOREIGN KEY([username])
REFERENCES [dbo].[Account] ([username])
GO
ALTER TABLE [dbo].[Role_Account] CHECK CONSTRAINT [FK_Role_Account_Account]
GO
ALTER TABLE [dbo].[Role_Account]  WITH CHECK ADD  CONSTRAINT [FK_Role_Account_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[Role_Account] CHECK CONSTRAINT [FK_Role_Account_Role]
GO
ALTER TABLE [dbo].[Role_Feature]  WITH CHECK ADD  CONSTRAINT [FK_Role_Feature_Feature] FOREIGN KEY([fe_id])
REFERENCES [dbo].[Feature] ([fe_id])
GO
ALTER TABLE [dbo].[Role_Feature] CHECK CONSTRAINT [FK_Role_Feature_Feature]
GO
ALTER TABLE [dbo].[Role_Feature]  WITH CHECK ADD  CONSTRAINT [FK_Role_Feature_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[Role_Feature] CHECK CONSTRAINT [FK_Role_Feature_Role]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Account] FOREIGN KEY([username])
REFERENCES [dbo].[Account] ([username])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Account]
GO
ALTER TABLE [dbo].[User_Class]  WITH CHECK ADD  CONSTRAINT [FK_User_Class_Class] FOREIGN KEY([class_id])
REFERENCES [dbo].[Class] ([class_id])
GO
ALTER TABLE [dbo].[User_Class] CHECK CONSTRAINT [FK_User_Class_Class]
GO
ALTER TABLE [dbo].[User_Class]  WITH CHECK ADD  CONSTRAINT [FK_User_Class_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[User_Class] CHECK CONSTRAINT [FK_User_Class_User]
GO
USE [master]
GO
