<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <error-page>
        <error-code>404</error-code>
        <location>/404FNF/404.html</location>
    </error-page>
    <servlet>
        <servlet-name>classesController</servlet-name>
        <servlet-class>controller.course.classesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>courseController</servlet-name>
        <servlet-class>controller.course.courseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modulesController</servlet-name>
        <servlet-class>controller.course.modulesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>moduleController</servlet-name>
        <servlet-class>controller.course.moduleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lessionController</servlet-name>
        <servlet-class>controller.course.lessonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>videoLessonController</servlet-name>
        <servlet-class>controller.course.videoLessonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeController</servlet-name>
        <servlet-class>controller.home.homeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.auth.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>controller.auth.SignupController</servlet-class>
        </servlet>
    <servlet>
        <servlet-name>completePaymentController</servlet-name>
        <servlet-class>controller.payment.completePaymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enterMailController</servlet-name>
        <servlet-class>controller.payment.enterMailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verifyCodeController</servlet-name>
        <servlet-class>controller.payment.verifyCodeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contentLessonController</servlet-name>
        <servlet-class>controller.course.contentLessonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lessonChoiceController</servlet-name>
        <servlet-class>controller.course.lessonChoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.auth.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewUserProfileController</servlet-name>
        <servlet-class>controller.profile.viewUserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeUserProfileController</servlet-name>
        <servlet-class>controller.profile.changeUserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>quizController</servlet-name>
        <servlet-class>controller.quiz.quizController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>classesController</servlet-name>
        <url-pattern>/course/classes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>courseController</servlet-name>
        <url-pattern>/course/class_course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modulesController</servlet-name>
        <url-pattern>/course/modules</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>moduleController</servlet-name>
        <url-pattern>/course/module</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lessionController</servlet-name>
        <url-pattern>/course/lession</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>matchGameController</servlet-name>
        <servlet-class>controller.matchgame.matchGameController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>matchGameController</servlet-name>
        <url-pattern>/game/matchgame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>videoLessonController</servlet-name>
        <url-pattern>/course/videoLesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeController</servlet-name>
        <url-pattern>/home/homePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login/loginUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>completePaymentController</servlet-name>
        <url-pattern>/payment/completePayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enterMailController</servlet-name>
        <url-pattern>/payment/sendEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifyCodeController</servlet-name>
        <url-pattern>/payment/verifyCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contentLessonController</servlet-name>
        <url-pattern>/course/contentLesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lessonChoiceController</servlet-name>
        <url-pattern>/course/lessonChoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/login/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewUserProfileController</servlet-name>
        <url-pattern>/userprofile/viewUserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeUserProfileController</servlet-name>
        <url-pattern>/userprofile/changeUserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>quizController</servlet-name>
        <url-pattern>/course/quiz</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
