.ranking-course{
    text-align: center;
    margin-top: 2em;
    margin-right: 2em;
}

.table-rankinh-head-cell{
    background-color: #00de7a;
    
}
.ranking-item-one{
    background-image: linear-gradient(to right, #00de7b, #0082e1);
    color: #ffffff;
    height: 4em;
    padding-top: 0.5em;
    margin-bottom: 1em;
}
.ranking-item-two{
    text-align: start;
    margin-bottom: 1em;
}

table{
    border: 1;
    width: 100%;
}

table thead td{
    border: 2px solid white;
    color: #ffffff;
    font-weight: bold;
    font-size: large;
}
table tbody tr td{
    border: 2px solid white;
}