.profile-item-unit{
    background-color: #f2f2f2;
    height: 300px;
    border-radius: 10px;
}
.profile-item-unit-two{
    background-color: #00de7a;
    min-height: 100px;
    border-radius: 10px;
}
/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 29, 2023, 10:30:44 PM
    Author     : Khangnekk
*/
.main {
    display: flex;
    box-sizing: border-box;
}

.nav {
    position: fixed;
    width: 5%;
    background-color: #00de7a;
    height: 100vh;
}

.nav-bar{
    margin: 1em auto;
}

ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.items {
    margin: 0;
    padding: 0;
}

.item {
    border-radius: 15px;
    border: 2px solid #ccc;
    margin: 2em auto;
    background-color: white;
    cursor: pointer;
}

.nav-bar img {
    width: 3em;
}

.avt-btn {
    position: fixed;
    border-radius: 50%;
    bottom: 0;
}

.content {
    width: 100%;
    margin-left: 5%;
    background-size: 100vw;
    width: 100vw;
    height: 100vh;
}

.account {
    width: 15rem;
    height: 4rem;
    margin: 2% 0 0 5%;
    border-radius: 10px;
    background-color: black;
    opacity: 0.6;
    border: 10px;
    border-color: white;
    display: flex;
    flex-direction: row;

}
.account img{
    width: 50%;
    flex: 0.5;
}
.account li{
    margin-top: 3px;
    margin: 0 0 0 -2em;
}

.image-in{
    width: 8em;
    height: 8em;
    background-color: black;
    margin: auto;
    border-radius: 50%;
    border: 5px solid white;
    background-image: url(../images/bg.png);
}
.account-profile{
    margin: 0;
    text-align: start;
    font-size: 100px;
}
.account-profile p{
    font-size: 1.2rem;
}
.information-content{
    display: flex;
    justify-content: space-around;
}
.information-content-left{
    display: flex;
    flex-direction: column;

}
.information-content-item{
    margin-top: 1rem;
    text-align: start;
    font-size: 1.2rem;

}
.profile-item{
    padding: 0 16px 0 16px;
    margin: 1em 0 1em 0;

}
/* .profile-item-unit{
    background-color: #f2f2f2;
    
} */
.course-com{
    background-color: #f2f2f2;
    box-sizing: border-box;
    border-radius: 15px;
}
.profile-item-unit-two{
    color: #ffffff;
    text-align: start;
}

.choose-change-one{
    font-weight: bolder;
    color: #dfdfdf;
    background-color: #0069b7;
    border-radius: 15px;
}
.choose-change-two{
    font-weight: bolder;
    color: #dfdfdf;
    background-color: #d70000;
    border-radius: 15px;
}
.choose-change{
    font-size: 1.5em;
    margin-bottom: 10px;
}
.choose-change p{
    margin: auto;
    color: #dfdfdf;
    text-decoration: none;
}